{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browser": [
            "last 3 versions"
          ],
          "modules": false,
          "loose": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "sourceMaps": "inline",
  "retainLines": true
}