html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    width: 100%;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    -webkit-margin-after: 0.6rem;
}

h3 {
    font-size: 1.5rem;
    -webkit-margin-after: 0.6rem;
}

h4 {
    font-size: 1.313rem;
    -webkit-margin-after: 0.6rem;
}

h5 {
    font-size: 1.125rem;
    -webkit-margin-after: 0.6rem;
}

h6 {
    font-size: 1rem;
    -webkit-margin-after: 0.6rem;
}

p {
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0.6rem;
    margin-top: 0rem;
    margin-bottom: 0.6rem;
}