@import 'reset';
@import '~flexboxgrid';
@import 'general';
@import 'variables';
@import 'githubMarkdown';
body {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: -moz-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: -o-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: linear-gradient(to left, #f1f1f1, #d2d2d2);
    background: #f1f1f1;
}

h1 {
    color: $primary-text;
}

a {
    text-decoration: none;
    color: $primary-text;
}

#app {
    height: 100%;
    width: 100%;
}

.row {
    margin: 0;
}

.app-container {
    height: 100%;
    width: 100%;
    background: transparent;
}

// HEADER
.header {
    background: $background-light;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
    p.header-title {
        color: $primary-text;
        padding: 1rem;
        font-weight: 200;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            .nav-link {
                color: $secondary-text;
                padding: 1rem 0 1rem 0;
                -webkit-margin-start: 1rem;
                -webkit-margin-end: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                font-weight: 200;
                border-bottom: 2px solid transparent;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                display: block;
                &.active,
                &:hover {
                    color: $primary-text;
                    border-color: $secondary-text;
                }
            }
        }
    }
}

.site-content {
    padding-top: 3rem;
    height: 500px;
    &:nth-child(even) {
        background: $background-light;
    }
}

// Material
.card {
    font-size: 1rem;
    padding: 1rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    border: none;
    -webkit-box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
}

.input {
    line-height: 2em;
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background-color: #fdfdfd;
    &:focus {
        outline: none;
        -webkit-box-shadow: 0 0.2rem 0 0 $primary-color;
        -moz-box-shadow: 0 0.2rem 0 $primary-color;
        box-shadow: 0 0.2rem 0 0 $primary-color;
    }
}

// LOGIN AND SIGNUP
.login-page {
    width: 23rem;
    padding: 8% 0 0;
    margin: auto;
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 23rem;
        margin: 0 auto 5rem;
        padding: 3rem;
        text-align: center;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 1rem;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
    }
    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: $accent;
        width: 100%;
        border: 0;
        padding: 1rem;
        color: #FFFFFF;
        font-size: 1rem;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .form button:hover,
    .form button:active,
    .form button:focus {
        background: $accent-dark;
    }
    .form .message {
        margin: 1rem 0 0;
        color: $secondary-text;
        font-size: 0.8rem;
    }
    .form .message a {
        color: $accent;
        text-decoration: none;
    }
    .form .register-form {
        display: none;
    }
}

// SNACKBAR. Inspired by https://www.w3schools.com/howto/howto_js_snackbar.asp
// to change the position of the snackbar change every bottom to right|left|top and 
// from base left: 50% to match wanted position e.g. 
//    bottom|top = left 
//    right|left = top
#snackbar {
    visibility: hidden;
    min-width: 16rem;
    -webkit-margin-start: -8rem;
    margin-left: -8rem;
    background-color: $background-dark;
    color: $light-text;
    text-align: center;
    -webkit-border-radius: 0.5em;
    border-radius: 0.2em;
    border: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 2rem;
    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
}

#loader {
    border: 0.3rem solid $background-medium;
    border-top: 0.3rem solid $accent;
    border-bottom: 0.3rem solid $accent;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    animation: spin 2s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// Markdown editor
.markdown-area {
    .text-container,
    .text-input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        resize: vertical;
        border: 0;
        min-height: 25rem;
        padding: 1rem;
        margin: 0;
    }
}

// Dropdown menu
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
        display: block;
    }
    .dropdown-content {
        position: absolute;
        background-color: $background-light;
        min-width: 100%;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        -webkit-margin-before: 1rem;
        margin-top: 1rem;
        right: -1rem;
        border-top: 2px solid $secondary-text;
        display: none;
        a {
            color: $secondary-text;
            padding: 0.6rem 1rem;
            text-decoration: none;
            display: block;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }
        a:hover {
            background-color: $background-medium;
            color: $primary-text;
        }
    }
}


/* Change the background color of the dropdown button when the dropdown content is shown */

// .dropdown:hover .dropbtn {
//     background-color: $accent;
// }
// Profile
.profile {
    width: 100%;
    padding: 0;
    .profile-picture {
        min-width: 100%;
        min-height: 20rem;
        background-color: $accent;
        position: relative;
        .tooltip {
            padding: 1rem;
            position: absolute;
            right: 0;
            bottom: 0;
            button {
                outline: none;
                i {
                    color: $background-light;
                }
            }
            .tooltip-text {
                cursor: pointer;
            }
        }
    }
    .info-container {
        padding: 1rem;
    }
}

// TOOLTIP 
.tooltip {
    position: relative;
    display: inline-block;
    .tooltip-text {
        visibility: hidden;
        max-width: 50rem;
        white-space: nowrap;
        background-color: $tooltip;
        color: #fff;
        text-align: center;
        border-radius: 0.2rem;
        padding: 0.5rem;
        position: absolute;
        z-index: 1;
        opacity: 0;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        visibility: visible;
    }
    .tooltip-left {
        bottom: 20%;
        right: 100%;
        &::after {
            content: "";
            position: absolute;
            right: -8%;
            border-width: 0.5rem;
            border-style: solid;
            border-color: transparent transparent transparent $tooltip;
        }
    }
    &:hover .tooltip-text {
        visibility: visible;
        opacity: 0.9;
    }
}