@import 'reset';
@import '~flexboxgrid';
@import 'general';
@import 'variables';
body {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: -moz-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: -o-linear-gradient(right, #f1f1f1, #d2d2d2);
    background: linear-gradient(to left, #f1f1f1, #d2d2d2);
    background: #f1f1f1;
}

h1 {
    color: $primary-text;
}

a {
    text-decoration: none;
    color: $primary-text;
}

#app {
    height: 100%;
    width: 100%;
}

.row {
  margin: 0;
}

.app-container {
    height: 100%;
    width: 100%;
    background: transparent;
}

// HEADER
.header {
    background: $background-light;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
    p.header-title {
        color: $primary-text;
        padding: 1rem;
        font-weight: 200;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            .nav-link {
                color: $secondary-text;
                padding: 1rem 0 1rem 0;
                -webkit-margin-start: 1rem;
                -webkit-margin-end: 1rem;
                font-weight: 200;
                border-bottom: 2px solid transparent;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                display: block;
                &.active,
                &:hover {
                    color: $primary-text;
                    border-color: $secondary-text;
                }
            }
        }
    }
}

.site-content {
  height: 500px;
  &:nth-child(even) {
    background: $background-light;
  }
}
// Material
.card {
    padding: 1rem;
    font-size: 1em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.2em;
    border: none;
    -webkit-box-shadow: 0rem, 0.2rem, 0.3rem, 0.1rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0rem, 0.2rem, 0.3rem, 0.1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0rem, 0.2rem, 0.3rem, 0.1rem rgba(0, 0, 0, 0.3);
    background-color: #fdfdfd;
}

.input {
    line-height: 2em;
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    background-color: #fdfdfd;
    &:focus {
        outline: none;
        -webkit-box-shadow: 0 0.2rem 0 0 $primary-color;
        -moz-box-shadow: 0 0.2rem 0 $primary-color;
        box-shadow: 0 0.2rem 0 0 $primary-color;
    }
}

// LOGIN AND SIGNUP
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .form button:hover,
    .form button:active,
    .form button:focus {
        background: #43A047;
    }
    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }
    .form .message a {
        color: #4CAF50;
        text-decoration: none;
    }
    .form .register-form {
        display: none;
    }
}