$app-purple: #ab47bc;
$app-cyan: #4dd0e1;
$app-green: #4caf50;
$app-red: #d32f2f;
$app-gold: #f5daa6;
$app-dark: #1F1B39;
$app-light: #f0f0f5;
$app-title-font: industry, sans-serif;
$app-sans-font: "Advent Pro", sans-serif;
