$primary-color: #ff88aa;
$secondary-color: #212121;
$background-light: #fdfdfd;
$background-medium: #ddd;
$background-dark: #222;
$primary-text: #444;
$secondary-text: #bbb;
$light-text: #f1f1f1;
$accent: #1abc9c;
$accent-dark: #11b191;

$tooltip: $background-dark;